@font-face {
    font-family: 'country_gothic';
    src: url('gothic.eot');
    src: url('gothic.eot?#iefix') format('embedded-opentype'),
         url('gothic.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'country_gothic';
	src: url("gothic.ttf");
}